@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Para transformar uma medida de pixel para rem a escala padrão seria de 16px = 1rem */

:root {
    --cor-primaria: #222831;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #00ADB5;
    --cor-hover: #393E46;


    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 82px;
}

.apresentacao__conteudo {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}


.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.foto {
    width: 25%;
    height: auto;
    flex-shrink: 0;
}

.rodape {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-primaria);
    font-weight: 400;
    padding: 24px;
    
    background-color: var(--cor-terciaria);
}

.rodape:hover {
    background-color: var(--cor-terciaria);

}

.main_class {
    padding: 5% 15%;
}

.curriculo_titulo_logo {
    display: flex;
}

.curriculo {
    flex-direction: column;
}

/* .curriculo_todo {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
} */

.curriculo_texto {
    font-size: 1.125rempx;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.curriculo_titulo_subtitulo {
    font-size: 1.125rem;
    font-family: var(--fonte-primaria);
    font-weight: bold;
    padding-bottom: 0.31rem;
    padding-top: 0.31rem;
}

.curriculo_titulo_subtitulo_2 {
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
    font-weight: bold;
    padding-bottom: 0.31rem;
    padding-top: 0.31rem;
}

.curriculo_titulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.linha {
    width: 100%;
    border-bottom: 0.1rem solid var(--cor-secundaria);
    padding: 0.625rem;
    padding-bottom: 0.625rem;
    gap: 0.625rem;
}

.icone_curriculo {
    width: 2.18rem;
    height: 2.18rem;
    padding-right: 0.625rem;
    padding-top: 0.31rem;
}

.sobremim {
    display: flex;
    padding: 5% 15%;
    flex-direction: column;
    justify-content: space-between;
}

.sobremim_imagem {
    display: flex;
}

.sobremim_imagem_imagem {
    width: 35px;
    height: 35px;
    padding-right: 10px;
    padding-top: 5px;
}

.sobremim_body {
    height: 100vh;
}

@media (max-width: 1200px) {   
    .cabecalho {
        padding: 5%;
    }
    
    .cabecalho__menu {
        justify-content: space-evenly;
        gap: 6%;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        /* align-items: stretch; */
        /* align-content: center; */
        gap: 10px;
        }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__titulo {
        hyphens: auto;
        font-size: 1.8rem;
    }

    .main_class {
        padding: 5%;
    }

    .sobremim {
        padding: 5%;
    }

    .icone_curriculo {
        width: 2.18rem;
        height: 2.18rem;
        padding-left: 1rem;
        padding-right: 0.625rem;
        padding-top: 0.31rem;
    }
}
